# WP
wp-config.php
.htaccess

# Applications
*.app
*.exe
*.war

# ARCHIVES
logs/*
*.log
*.zip
*.7z

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

# IDE
.idea
.idea/
vim.exe.stackdump
bash.exe.stackdump

# FICHIERS INVISIBLES
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
*[Tt]humbs.db
*.Trashes
dbsr/

# WORDPRESS
wp-content/logs/

# Package files
*.jar

# NODE
node_modules/
**/node_modules/
npm-debug.log
.sass-cache/
.sublime-gulp.cache
wp-content/themes/**/dist/

# AUTRE
.sass-cache/
debug.log